.toast {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: -1.2rem auto 0;
    width: 6.4rem;
    padding: 0.8rem 0.32rem;
    border-radius: 0.2rem;
    z-index: 101;
    background-color: rgba(0,0,0, .4);
    color: #fff;
    font-size: 0.56rem;
    line-height: 0.8rem;
    text-align: center;
}