.my-checkbox-wrapper {
    display: inline-flex;
    height: 0.56rem;
    cursor: pointer;
    vertical-align: text-top;
    .input-checkbox {
        margin: 0;
        display: none;
        &:checked {
            & + .my-checkbox{
                background: #5cb85c;
                border-color: #5cb85c;
                // animation: wave 0.4s ease;
                .svg {
                    stroke-dashoffset: 0;
                    margin-top: .04rem;
                }
            }
        }
    }
    .my-checkbox {
        width: .56rem;
        height: .56rem;
        border-radius: 0.08rem;
        border: 0.04rem solid #c8ccd4;
        transition: all 0.2s ease;
        box-sizing: border-box;
        &:hover {
            // border-color: #5cb85c;
        }
        .svg {
            width: 0.48rem;
            height: 0.4rem;
            fill: none;
            stroke: #fff;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 16;
            stroke-dashoffset: 16;
            transition: all 0.3s ease;
            transition-delay: 0.1s;
        }
    }
    .text {
        flex-shrink: 0;
        margin-left: 0.2rem;
        font-size: 0.56rem;
        line-height: .56rem;
    }
}

@keyframes wave {
    60% {
      transform: scale(0.9);
    }
}